* {
  color: #eeeeee;
}

.App {
  text-align: center;
  width: 100vh;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #232738;
}

.Sidebar {
  height: 100vh;
  width: 240px;
  padding: 20px 20px;
  background-color: #151824;
  position: fixed;
  /* display: inline-block; */
}

h2, h3 {
  color: #FDBB41;
}

.Footer {
  text-align: center;
  color: #B3B3B3;
  font-size: small;
}

.TraceButton {
  height: 10px;
  line-height: 10px;
  padding: 20px 20px;
  background-color: #343848;
  border-radius: 6px;
  margin-bottom: 10px;
}

.Plot {
  width: 80%;
  height: 100%;
  min-height: 600px;
  margin: 20px 20px;
  margin-left: 300px;
  border: 10px solid;
  border-color: #383D53;
  float: right;
}

@media screen and (max-width: 1600) {
  .Plot {
    margin-left: 240px;
  }
}

.Card {
  background-color: #383D53;
  background-image: linear-gradient(to bottom right, #383D53, #474b61);
  padding: 10px 20px;
  margin: 20px 20px;
  margin-left: 300px;
  float: right;
}